stages:
  - build
  - deploy

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

.default-docker:
  image: docker:26.1.4
  services:
    - name: docker:26.1.4-dind
      command: ["--tls=false", "--mtu=1500"]
  before_script:
    - echo "$DOCKER_HUB_ACCESS_TOKEN" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin
    - apk add --no-cache nodejs npm bash jq

build-rest:
  stage: build
  extends: .default-docker
  script:
    - cd inferno-games-rest
    - npm run docker:build
    - echo "BUILT_REST=true" >> ../build.env
  artifacts:
    reports:
      dotenv: build.env
  tags:
    - docker
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - inferno-games-rest/**/*
        - docker-compose.yml

build-web:
  stage: build
  extends: .default-docker
  script:
    - cd inferno-games-web
    - npm run docker:build
    - echo "BUILT_WEB=true" >> ../build.env
  artifacts:
    reports:
      dotenv: build.env
  tags:
    - docker
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - inferno-games-web/**/*
        - docker-compose.yml

deploy:
  stage: deploy
  image: ubuntu:22.04
  before_script:
    - apt-get update -y
    - apt-get install -y openssh-client iproute2
    - mkdir -p ~/.ssh
    - echo "$STAGE_SERVER_PRIVATE_KEY" | base64 --decode > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H "$STAGE_SERVER_HOST" >> ~/.ssh/known_hosts
    - export DEPLOY_PATH="/home/$STAGE_SERVER_USER/inferno-games"
  script:
    - ssh "$STAGE_SERVER_USER@$STAGE_SERVER_HOST" "mkdir -p $DEPLOY_PATH"
    - |
      SERVICES=""
      [ -n "$BUILT_REST" ] && SERVICES="$SERVICES inferno-games-rest"
      [ -n "$BUILT_WEB" ] && SERVICES="$SERVICES inferno-games-web"

      if [ -n "$SERVICES" ]; then
        ssh "$STAGE_SERVER_USER@$STAGE_SERVER_HOST" \
          "cd $DEPLOY_PATH && docker compose pull $SERVICES && docker compose up -d $SERVICES"
      else
        echo "No services to deploy"
      fi
  after_script:
    - rm -rf ~/.ssh
  tags:
    - docker
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: build-rest
      optional: true
    - job: build-web
      optional: true
