management:
  endpoints:
    web:
      cors:
        allowed-methods: GET,POST,PUT,PATCH,OPTIONS,DELETE
        allowed-origins: '"*"'
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      show-components: always
      livenessState:
        enabled: true
      readinessState:
        enabled: true
  info:
    env:
      enabled: true

spring:
  devtools:
    restart:
      enabled: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB
  datasource:
    url: jdbc:postgresql://${DB_IP:localhost}:${DB_PORT:5432}/${DB_NAME:inferno-games}
    username: ${DB_USER:inferno-games}
    password: ${DB_PASS:inferno-games}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    timeout: 6000
    database: 0
    connect-timeout: 10000
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
  jackson:
    default-property-inclusion: NON_NULL

server:
  forward-headers-strategy: native
  port: 8080
  servlet:
    contextPath: /inferno-games-rest
  shutdown: graceful
  tomcat:
    max-swallow-size: 50MB
    max-http-post-size: 50MB
    internal-proxies:
      protocol-header: "X-Forwarded-Proto"
      remote-ip-header: "X-FORWARDED-FOR"
  use-forward-headers: true

inferno-games:
  applicationName: "InfernoGames"
  defaultAdminUsername: inferno-games_admin
  defaultAdminPassword: password
  encryptionKey: "${ENCRYPTION_KEY}"
  # IGDB uses Twitch authentication
  igdbClientId: "${IGDB_CLIENT_ID}"
  igdbClientSecret: "${IGDB_CLIENT_SECRET}"

logging:
  level:
    org.hibernate: WARN
    org.hibernate.orm.connections.pooling: ERROR
    com.infernokun.infernoGames: DEBUG

rsa:
  private-key: ${RSA_PRIVATE_KEY_PATH:certs/private.pem}
  public-key: ${RSA_PUBLIC_KEY_PATH:certs/public.pem}
